body,html { font:15px/150% Tahoma,Verdana,STHeiTi,simsun,sans-serif; height:99.3%; }

#__frame_main {
	position: relative;
	min-height: 99.3%;
}
#__frame_content {
	padding-bottom: 30px;/* 不至被footer盖住 */
}
#__frame_footer {
	position: absolute;
	bottom: 0;
	height: 20px;
	width: 100%;
}

input, textarea, select { 
	padding: 9px;
	font-size: 15px/100%;
	width: 200px;
}

select {
	width: 220px;
}

textarea {
	margin-top: 2px;
	width: 400px;
	max-width: 400px;
	height: 150px;
	line-height: 150%;
}

input[type=checkbox]{
	width: 30px;
}
input:hover, textarea:hover, input:focus, textarea:focus, select:hover, select:focus {
	border-color: #989898;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

.form label { 
	margin-left: 10px;
}

.submit {
	margin-top: 2px;
	width: auto;
	margin-bottom: 4px;
}

.forget_link:hover {
	cursor:pointer;
	text-decoration: underline;
	color: #617798;
}

.search_table {
	display: inline-block;
    width: 100%;
    margin: 0px auto;
    padding: 7px 0 7px 0;
    /*background: #335599 url(./images/bg.png) repeat-x 0 -110px;*/
    background: #B9C9FE;
    margin-bottom: 4px;
    
    border-radius:10px; /*some css3*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow:0 2px 2px rgba(0,0,0, .5);
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .5);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .5);
}

.item_name {
	text-align: right;
	padding: 8px 3px 4px 5px;
	overflow: hidden;
	vertical-align: top;
}
.item {
	padding: 0 5px 0 5px;
	overflow: hidden;
}

.titleNav{
	margin-left: 15px;
	margin-bottom: 15px;
}