<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-2.5.xsd" 
	default-autowire="byName">
	<!-- 默认配置 -->
	<import resource="Default_Config.xml" />
	<!-- 数据库信息配置 -->
	<import resource="DataBase_Config.xml" />
	<!-- Hibernate连接配置 -->
	<import resource="Hibernate_Config.xml" />
	
	<!-- 当前只扫描cn.hb.dao包下面的@Component组建 -->
	<context:component-scan base-package="cn.hb.dao"/>
	<!-- 当前只扫描cn.hb.view包下面的@Component组建 -->
	<context:component-scan base-package="cn.hb.view"/>	
</beans>