<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="hibernate.dialect">
		org.hibernate.dialect.PostgreSQLDialect
		</property>
		<property name="hibernate.connection.url">
		jdbc:postgresql://localhost/hibernateSearch
		</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">1234</property>
		<property name="hibernate.connection.driver_class">
		com.p6spy.engine.spy.P6SpyDriver
		</property>
		<!-- search -->
		<property name="hibernate.search.default.directory_provider">
		org.hibernate.search.store.FSDirectoryProvider
		</property>
		<property name="hibernate.search.default.indexBase">C:\eHR\eclipse-java-europa-winter-win32\eclipse\workspace\hibernateSearch</property>
		<property name="hibernate.show_sql">true</property>
		
		<mapping class="com.yehui.Employee" />
		<mapping class="com.yehui.Department" />
		<mapping class="com.yehui.Foo" />
	</session-factory>

</hibernate-configuration>