/* jquery.validate */
label.error {
    color: red;
}
div.error {
    display: none;
}
input {
    border: 1px solid black;
}
input.checkbox {
    border: none
}
input:focus {
    border: 1px dotted black;
}
input.error {
    border: 1px dotted red;
}
/* 自定义属性 */
a.cursor-hand {
    cursor: pointer;
}
.footer {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #c2c2c2;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}