<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.tjhx.dao.myBatis.account.PermissionMyBatisDao">
	
  	<!-- 删除原有拥有菜单资源(根据参数) -->
	<delete id="delPermissionByRoleUuid" parameterType="int">
	<![CDATA[
		delete from t_role_fun_perm where role_uuid = #{roleUuid}
	]]> 
	</delete>
</mapper>
