<?xml version='1.0' encoding='UTF-8'?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name></display-name>
	<description></description>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:/applicationContext.xml
		</param-value>
	</context-param>

	<!-- Character Encoding -->
	<filter>
		<filter-name>SetCharacterEncoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SetCharacterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- OpenSessionInViewFilter -->
	<!--<filter>
				<filter-name>OpenSessionInViewFilter</filter-name>
				<filter-class>
					org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
				<init-param>
					<param-name>singleSession</param-name>
					<param-value>true</param-value>
				</init-param>
			</filter>

			<filter-mapping>
				<filter-name>OpenSessionInViewFilter</filter-name>
				<servlet-name>ajaxRequest</servlet-name>
			</filter-mapping>
			<filter-mapping>
				<filter-name>OpenSessionInViewFilter</filter-name>
				<servlet-name>normalRequest</servlet-name>
			</filter-mapping>
		 -->

	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<!-- Spring Frame -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Spring MVC -->
	<servlet>
		<servlet-name>ajaxRequest</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ajaxRequest</servlet-name>
		<url-pattern>*.ajax</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>normalRequest</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>normalRequest</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>

	<!-- session-timeout -->
	<session-config>
		<session-timeout>1000</session-timeout>
	</session-config>

	<!-- welcome-file -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<taglib>
		<taglib-uri>http://www.freedom.org/tags/form</taglib-uri>
		<taglib-location>/WEB-INF/extjs-spring-form.tld</taglib-location>
	</taglib>
</web-app>
