<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->

<!-- $Id: log4j.xml 5848 2007-07-17 18:43:56Z myoungstrom $ -->

<!--
	| For more configuration infromation and examples see the Jakarta Log4j
	| owebsite: http://jakarta.apache.org/log4j
-->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="HTTP_ACCESS_CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%n===================== %d{yyyy/MM/dd HH:mm:ss} =====================%n%m
				%n===================== %d{yyyy/MM/dd HH:mm:ss} =====================%n"/>
		</layout>
	</appender>
	<appender name="HTTP_ACCESS" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="C:/HTTP_ACCESS.log"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy/MM/dd HH:mm:ss} %m%n"/>
		</layout>
	</appender>
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{HH:mm:ss,SSS} %-5p [%c{1}] %m%n" />
		</layout>
	</appender>

	
	<category name="org.freedom.sys.utils.HttpAccessLogUtils">
		<level value="DEBUG"/>
		<appender-ref ref="HTTP_ACCESS_CONSOLE"/>
		<!--<appender-ref ref="HTTP_ACCESS"/>-->
	</category >
	<!--
		<root>
			<priority value="INFO" />
			<appender-ref ref="CONSOLE" />
		</root>
		-->
</log4j:configuration>
