<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" metadata-complete="true">
	<description>OperaMasks Example</description>
	<display-name>OperaMasks Example</display-name>
	<!-- 是否允许“隐式导航”。所谓隐式导航，是指：允许在Action方法体内返回某个页面，来简化JSF的导航规则 -->
	<context-param>
		<param-name>
			org.operamasks.faces.IMPLICIT_NAVIGATION
		</param-name>
		<param-value>true</param-value>
	</context-param>
	<!-- 设置 ViewState 是保存在客 户端(client)还是服务器端(server) -->
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>client</param-value>
	</context-param>
	<context-param>
		<param-name>
			org.operamasks.faces.COMPATIBLE_NOT_STRICT
		</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	<!-- 设置页面显示成灰色 -->
	<context-param>  
		<param-name>org.operamasks.faces.SKIN</param-name>  
		<param-value>gray</param-value> 
	</context-param>
	<!-- facelets忽略代码注释 -->
	<context-param>
		<param-name>facelets.SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ResourceServlet</servlet-name>
		<servlet-class>
			org.operamasks.faces.render.resource.ResourceServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/_global/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
	<!--  
		<env-entry>
		<env-entry-name>foo</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>foo, bar</env-entry-value>
		</env-entry>-->
	<!-- 这里设置了一个 filter,所有的访问(/*)都需要经过这个 filter,此 filter 是 AOM 内置的

		在 AOM 应用中,页面的文件名后缀可能是 xhtml,也可能是jsp,这是在应用开发的一开始就已经确定好的,
		并且在 web.xml中有相应的配置;但访问此页面的 url 后缀则是运行期可以必变的,在 web.xml 中也有配置
		于是就有可能出现一个问题:用户很容易直接通过文件名来作为访问此页的 url.
		此 filter 的作用是:将直接访问文件名的 url 自动改为正确的 url.
		如:倘若用户在页面中有一个 <a href="a.faces">的超链接,但由于用户的疏忽,错误的写成了 <a href="a.xhtml">
		如果配置了这个 filter,AOM会自动的把访问 a.xhtml 的 url 转变成：a.faces -->
	<filter>
		<filter-name>DefaultSuffix Redirect Filter</filter-name>
		<filter-class>
			org.operamasks.faces.webapp.filter.DefaultSuffixRedirector
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>DefaultSuffix Redirect Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>

