A:link {
    TEXT-DECORATION: none
}

A:visited {
    TEXT-DECORATION: none
}

A:active {
    TEXT-DECORATION: none
}

A:hover {
    TEXT-DECORATION: underline
}

.titleTable {
    width: 100%;
    height: 80px;
    background-repeat: no-repeat;
    background-image: url(../images/EHR_Title.jpg);
}

body {
}

.spiltLine {
    width: 100%;
    height: 5px;
    background-image: url(../images/EHR_Line.jpg);
    background-repeat: repeat-x;
}

.menuTable {
    width: 960px;
}

.appTitleTable {
    width: 100%;
}

.appFooterTable {
    width: 100%;
    height: 50px;
    background-image: url(../images/EHR_TopLine.jpg);
    background-repeat: repeat-x;
}

.menuItem {
    font-size: 12pt;
    font-weight: bold;
}

.loginUser {
    height: 25px;
    padding-right: 35px;
    font-weight: bold;
    text-align: right;
}

.loginDate {
    height: 55px;
    padding-right: 35px;
    font-weight: bold;
    text-align: right;
    vertical-align: top;
}

.appTitle {
    background-image: url(../images/EHR_UnderLine.jpg);
    background-repeat: repeat-x;
    font-size: 20pt;
    font-weight: bold;
    text-align: left;
    padding-left: 30px;
}

.appScreenID {
    background-image: url(../images/EHR_UnderLine.jpg);
    font-weight: normal;
    text-align: right;
    padding-bottom: 10px;
    padding-right: 30px;
    vertical-align: bottom;
}

.tip {
    padding-left: 10px;
}

.itemTitle {
    background-color: RGB( 204, 204, 255 );
    text-align: left;
    padding-top: 3px;
    padding-left: 30px;
    padding-right: 5px;
    padding-bottom: 3px;
    border: 1px solid #000000;
    background-image: url(../images/EHR_Comp_Title.jpg);
    background-repeat: no-repeat;
}

.inputItemName {
    background-color: #FFFFCC;
    text-align: right;
    padding-right: 5px;
    border: 1px solid #000000;
}

.inputItemCell {
    background-color: #FFFFCC;
    padding-left: 10px;
    padding-right: 5px;
    border: 1px solid #000000;
}

.buttonSubmitLong {
    background-image: url(../images/EHR_Submit_Btn.jpg);
    background-repeat: repeat-x;
    width: 90px;
    border: 1px solid #000000;
    text-decoration: none;
    font-weight: bold;
}

.buttonResetLong {
    background-image: url(../images/EHR_Reset_Btn.jpg);
    background-repeat: repeat-x;
    width: 90px;
    border: 1px solid #000000;
    text-decoration: none;
    font-weight: bold;
}




