<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.tjhx.dao.info.SalesMonthTotalMyBatisDao">
	<!-- mybatis表结构与对象的映射关系 -->
	<resultMap id="Result_Map_SalesMonthTotal" type="com.tjhx.entity.info.SalesMonthTotal">
        <result column="uuid" property="uuid" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="branch_no" property="branchNo" jdbcType="VARCHAR"/>
        <result column="give_qty" property="giveQty" jdbcType="DECIMAL"/>
        <result column="item_cls_no" property="itemClsNo" jdbcType="VARCHAR"/>
        <result column="opt_date_y" property="optDateY" jdbcType="VARCHAR"/>
        <result column="opt_date_y_m" property="optDateYm" jdbcType="VARCHAR"/>
        <result column="org_id" property="orgId" jdbcType="VARCHAR"/>
        <result column="ret_amt" property="retAmt" jdbcType="DECIMAL"/>
        <result column="ret_qty" property="retQty" jdbcType="DECIMAL"/>
        <result column="sale_amt" property="saleAmt" jdbcType="DECIMAL"/>
        <result column="sale_price" property="salePrice" jdbcType="DECIMAL"/>
        <result column="sale_qty" property="saleQty" jdbcType="DECIMAL"/>
        <result column="sale_ramt" property="saleRamt" jdbcType="DECIMAL"/>
        <result column="sale_rqty" property="saleRqty" jdbcType="DECIMAL"/>
	</resultMap>
	
	<delete id="delSalesMonthTotalInfo" parameterType="String">  
        DELETE FROM t_sales_month_total WHERE opt_date_y_m = #{optYMDate}
    </delete>
</mapper>
