<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.tjhx.dao.info.StoreDetailMyBatisDao">
	<!-- mybatis表结构与对象的映射关系 -->
	<resultMap id="Result_Map_StoreDetail" type="com.tjhx.entity.info.StoreDetail">
        <result column="bw_branch_no" property="bwBranchNo" jdbcType="VARCHAR"/>
        <result column="_index" property="index" jdbcType="INTEGER"/>
        <result column="item_barcode" property="itemBarcode" jdbcType="VARCHAR"/>
        <result column="item_name" property="itemName" jdbcType="VARCHAR"/>
        <result column="item_sale_amt" property="itemSaleAmt" jdbcType="DECIMAL"/>
        <result column="item_subno" property="itemSubno" jdbcType="VARCHAR"/>
        <result column="opt_date" property="optDate" jdbcType="VARCHAR"/>
        <result column="opt_date_m" property="optDateM" jdbcType="VARCHAR"/>
        <result column="opt_date_y" property="optDateY" jdbcType="VARCHAR"/>
        <result column="org_id" property="orgId" jdbcType="VARCHAR"/>
        <result column="stock_amt" property="stockAmt" jdbcType="DECIMAL"/>
        <result column="stock_qty" property="stockQty" jdbcType="DECIMAL"/>
        <result column="storage_flg" property="storageFlg" jdbcType="VARCHAR"/>
        
        <result column="stock_total_qty" property="stockTotalQty" jdbcType="DECIMAL"/>
        <result column="stock_total_amt" property="stockTotalAmt" jdbcType="DECIMAL"/>
        <result column="item_sale_total_amt" property="itemSaleTotalAmt" jdbcType="DECIMAL"/>
	</resultMap>
	
	<!-- 查询结果字段 -->
	<sql id="Base_Column_List" >
	<![CDATA[
    	org_id ,
	    bw_branch_no ,
	    opt_date ,
	    opt_date_y ,
	    opt_date_m ,
	    storage_flg ,
	    SUM(stock_qty) AS stock_total_qty ,
	    SUM(stock_amt) AS stock_total_amt,
	    SUM(item_sale_amt) AS item_sale_total_amt
	]]>
  	</sql>
  	
  	<!-- 查询条件 -->
  	<sql id="Where_Clause" >
  		<where>
  			<if test="bwBranchNo != null and bwBranchNo !='' ">
  			bw_branch_no = #{bwBranchNo}
  			</if>
  			<if test="optDate != null and optDate !='' ">
  			AND opt_date = #{optDate}
  			</if>
	  	</where>
  	</sql>
  	
  	<!-- 取得t_store_detail信息(根据参数) -->
	<select id="getDayTotalList" parameterType="com.tjhx.entity.info.StoreDetail" resultMap="Result_Map_StoreDetail">
		select
		<include refid="Base_Column_List" />
		from t_store_detail
		<include refid="Where_Clause" />
		GROUP BY storage_flg
	</select>
</mapper>
